* {
    margin: 0;
    padding: 0;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth
}

:root {
    --primary-color: rgb(254, 254, 209);
    --secondary-color: rgb(154, 125, 58);
    --text-color: rgb(97, 79, 36);
}

body {
    background-color: var(--primary-color);
    padding: 0 1rem;
    overflow-x: hidden;
    max-width: 100%;
}

.section {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.flex-container-1-a {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.flex-container-2 {
    display: flex;
    padding: 0.625rem;
    height: 94vh;
    width: stretch;
    justify-content: center;
    align-self: center;
}

.left {
    width: 32vw;
    min-width: 12rem;
    height: 40vw;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.left:hover {
    transform: scale(1.02);
}

.main-img {
    width: 100%;
    border-radius: 50%;
}

.right {
    flex-direction: column;
    display: flex;
    padding: 0.625rem;
    font-size: 5rem;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
}

.sub-container-1 {
    justify-content: flex-start;
    display: inline-block;
}

.sub-container-2 {
    padding-right: 0.625rem;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

.nav {
    color: white;
    display: inline-block;
    justify-content: flex-end;
    margin: 0rem;
    padding: 0.625rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.2s ease-in-out;
}

.nav:hover {
    font-size: 1.625rem;
    color: var(--text-color);
}

.section-projects {
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.all-projects {
    display: flex;
    min-height: 94vh;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    align-items: stretch;
}

.project {
    display: flex;
    padding: 1.25rem;
    margin: 2rem;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem var(--text-color);
    transition: all 0.2s ease-in-out;
}

.project:hover {
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.25rem;
    padding: 2rem;
}

.heading {
    background-color: var(--secondary-color);
    display: flex;
    padding: 1.25rem;
    height: 6vh;
    width: auto;
    min-width: 80vw;
    font-size: 2rem;
    color: white;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 0.5rem;
    align-items: center;
}

.section-clubs {
    height: auto;
    display: flex;
    flex-direction: column;
}

.clubs {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
    max-width: 720px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.club {
    font-size: 1.5rem;
    padding: 1.5rem;
    min-width: 15rem;
    animation-timeline: scroll();
    animation-duration: 3s;
    border-radius: 0.5rem;
    text-align: center;
}

.club-right {
    align-self: flex-end;
    background-image: linear-gradient(to left, rgb(196, 165, 93), transparent);
    animation-name: slide-in-right;
    box-shadow: 0.5rem 0rem rgb(183, 154, 89);

}

.club-left {
    align-self: flex-start;
    background-image: linear-gradient(to right, rgb(196, 165, 93), transparent);
    animation-name: slide-in-left;
    box-shadow: -8px 0rem rgb(183, 154, 89);
}

@keyframes slide-in-right {
    from {
        translate: -80vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

@keyframes slide-in-left {
    from {
        translate: 80vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.club-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.section-contact {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    font-size: 1.5rem;
    margin-left: 0.13rem;
    margin-right: 0.13rem;
    padding-top: 0.35rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0.13rem solid rgb(94, 79, 45);
    border-radius: 0.5rem;
}

.form-heading {
    font-size: larger;
    color: rgb(94, 79, 45);
}

.top-form {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.details-1 {
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
    background-color: transparent;
    padding: 0.25rem;
    font-size: medium;
    margin: 0.13rem;
}

.details-2 {
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0.25rem;
    resize: none;
    font-size: medium;
    margin: 0.13rem;
}

.submit {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 10rem;
    font-size: 1rem;
    height: 2rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: 0;
    color: white;
    transition: all 0.2s ease-in-out;
}

.submit:hover {
    font-size: 1.2rem;
}

footer {
    display: block;
    text-align: center;
    width: 100%;
    padding-right: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-bottom: 2vh;
}

@media screen and (max-width: 700px) {
    .flex-container-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right {
        font-size: 3rem;
    }

    .intro {
        flex-direction: row;
        gap: 0.625rem;
    }

    .left {
        align-items: center;
    }

    .all-projects {
        flex-direction: column;
    }

    .top-form {
        flex-direction: column;
    }

    .details-1 {
        width: auto;
    }

    .club-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .club-left {
        font-size: 1;
    }

    .club-right {
        font-size: 1;
    }
}

@media screen and (max-width: 440px) {
    .nav {
        font-size: 1rem;
    }

    .flex-container-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right {
        font-size: 3rem;
    }

    .intro {
        flex-direction: row;
        gap: 0.625rem;
    }

    .left {
        align-items: center;
    }

    .all-projects {
        flex-direction: column;
    }

    .top-form {
        flex-direction: column;
    }

    .details-1 {
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    @keyframes slide-in-right {
        from {
            translate: -80vw 0;
            scale: 200% 1;
        }

        to {
            translate: 0 0;
            scale: 100% 1;
        }
    }

    @keyframes slide-in-left {
        from {
            translate: 80vw 0;
            scale: 200% 1;
        }

        to {
            translate: 0 0;
            scale: 100% 1;
        }
    }
}
