* {
    margin: 0;
    padding: 0;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(254, 254, 209);
    padding: 0 5% 0 5%;
    overflow-x: hidden;
}

.section {
    min-height: 100vh;
    height: auto;
}

.flex-container-1-a {
    background-color: rgb(154, 125, 58);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.flex-container-2 {
    display: flex;
    padding: 10px;
    height: max-content;
    justify-content: flex-start;
}

.left {
    width: 40vw;
    min-width: 200px;
    height:40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.left:hover {
    transform: scale(1.02);
}

.main-img {
    width: 100%;
    
    border-radius: 50%;
}

.right {
    /* width: 50vw; */
    flex-direction: column;
    display: flex;
    padding: 10px;
    font-size: 5rem;
    color: rgb(97, 79, 36);
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
}

.sub-container-1 {
    justify-content: flex-start;
    display: inline-block;
}

.sub-container-2 {
    padding-right: 10px;
    justify-content: flex-end;
    display: inline-block;
}

.sub-container-1>div {
    display: inline-block;
    justify-content: flex-end;
    margin: 0px;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

.sub-container-2>div {
    display: inline-block;
    justify-content: flex-end;
    margin: 0px;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

.nav {
    color: white;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: all 0.2s ease-in-out;
}

.nav:hover {
    font-size: 1.625rem;
    color: #614F24;
}

.section-projects {
    /* background-color: rgb(127, 208, 255); */
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.all-projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    display: flex;
    /* background-color: white; */
    padding: 20px;
    margin: 20px;
    height:fit-content;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid rgb(97, 79, 36);
    border-radius: 16px;
    box-shadow: 8px 8px rgb(97, 79, 36);
    transition: all 0.2s ease-in-out;
}

.project:hover {
    transform: scale(1.1);
}

.content {
    font-size: 1.25rem;
    padding: 32px;
}

.heading {
    background-color: rgb(154, 125, 58);
    padding: 20px;
    height: min-content;
    width: auto;
    min-width: 80vw;
    font-size: 2rem;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    /* justify-self: flex-start; */
    font-style: normal;
    border-radius: 8px;
}

.section-clubs {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.club-right {
    /* background-color: white; */
    background-image: linear-gradient(to left, rgb(196, 165, 93), transparent);
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    margin-right: 200px;
    height: 16vh;
    width: 40%;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-end; */
    align-self: flex-end;
    box-shadow: 8px 0px rgb(183, 154, 89);
    animation-duration: 3s;
    animation-name: slide-in-right;
    animation-timeline: scroll();
}

.club-left {
    /* background-color: rgb(94, 79, 45); */
    background-image: linear-gradient(to right, rgb(196, 165, 93), transparent);
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    margin-left: 200px;
    height: 16vh;
    width: 40%;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: -8px 0px rgb(183, 154, 89);
    animation-duration: 3s;
    animation-name: slide-in-left;
    animation-timeline: scroll();
}

@keyframes slide-in-right {
    from {
        translate: -100vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

@keyframes slide-in-left {
    from {
        translate: 100vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.club-title {
    font-size: 1.875rem;
    font-weight: bold;
}

.section-contact {
    /* background-color: rgb(30, 191, 151); */
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    /* background-color: white; */
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    font-size: 1.5rem;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid rgb(94, 79, 45);
    border-radius: 8px;
}

.form-heading {
    font-size: larger;
    color: rgb(94, 79, 45);
}

.top-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.details-1 {
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
    background-color: transparent;
    padding: 4px;
    font-size: medium;
    margin: 2px;
}

.details-2 {
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    padding: 4px;
    font-size: medium;
    margin: 2px;
}

.submit {
    font-size: large;
    align-self: flex-end;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 10em;
    height: 1.5em;
    background-color: rgb(154, 125, 58);
    border-radius: 8px;
    border: 0;
    color: white;
    transition: all 0.2s ease-in-out;
}

.submit:hover {
    font-size: 1.1rem;
    width: 12em;
    height: 1.8em;
}
@media screen and (max-width: 620px){
    .flex-container-2 {flex-direction: column; justify-content: center; align-items: center;}
    .right {font-size: 3rem; }
    .intro {flex-direction: row; gap: 10px;} 
    .left {align-items: center;}
    .all-projects {flex-direction: column;}
}

